*.sdf
*.db
*.ipch
*.opendb
*.pdb
*.idb
.vs/AdamVulkanRenderer/v14/.suo
*.lastbuildstate
*.tlog
AdamVulkanRenderer/Debug/AdamVulkanRenderer.log
AdamVulkanRenderer/Debug/AdamVulkanRenderer.obj
AdamVulkanRenderer/Debug/AdamVulkanRenderer.res
AdamVulkanRenderer/Debug/AdamVulkanRenderer.pch
AdamVulkanRenderer/Debug/stdafx.obj
AdamVulkanRenderer/Debug/VulkanInstance.obj
AdamVulkanRenderer/Release/AdamVulkanRenderer.log
AdamVulkanRenderer/Release/AdamVulkanRenderer.pch
AdamVulkanRenderer/Release/stdafx.obj
Debug/AdamVulkanRenderer.exe
Debug/AdamVulkanRenderer.ilk
AdamVulkanRenderer/Debug/Mat4.obj
AdamVulkanRenderer/Debug/OBJFile.obj
AdamVulkanRenderer/Debug/Shader.obj
AdamVulkanRenderer/Debug/Simulation.obj
AdamVulkanRenderer/Debug/Texture.obj
